*{
   list-style: none;
}
#nombreSeccion{
   font-family: 'Rubik Marker Hatch', cursive;
   color: darksalmon;
   font-size: xx-large;
   border-radius: 0.5rem;
   padding: 20px;
   letter-spacing: 2.5pt;
   background-image: url(https://images.unsplash.com/photo-1516762689617-e1cffcef479d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=411&q=80);
   margin: 0 auto;
   text-align: center;
}
#contenerdorDeArticulos{
   background-color: rgb(234, 234, 234);
   position: absolute;
   height: auto;
   width: 100%;
}
.especificacionesDeArticulo{
   padding-left: 5px ;
   color: coral;
}
.letraDeEspecificacion{
   color: black;
}
.precio{
   font-family: 'Noto Sans JP', sans-serif;
   padding: 5px;
}
#imgAmpliada, #imgAmpliadaSinVector{
   position: fixed;
   width: 100%;
   height: 100vh;
   top: 0;
   background-color: rgba(0, 0, 0, 0.632);
   justify-content: center;
   align-items: center;
}

#imgAmpliadaSinVector{
   display: flex;
}

#imgAmpliada{
   display: flex;
}

.imgToControl{
   -webkit-animation-name: fade;
   -webkit-animation-duration:1.5s;
   animation-name:fade;
   animation-duration:0.5s;
}
@-webkit-keyframes fade{
   from{opacity:.4}
   to{opacity:1}
}
@keyframes fade{
   from{opacity:.4}
   to{opacity:1}
}
#botonCerrarImg{
   cursor: pointer;
   position: absolute;
   right: 5%;
   top: 18%;
}


/*RESPONSIVE PARA PHONE- DA ESTILO A LOS ARTICULOS*/
@media screen and (max-width: 400px){
   .articulo{
      position: relative;
      float: left;
      top: 5px;
      left: 2px;
      width: 95%;
      border-radius: 0.5rem;
      padding: 3px;
      margin: 2px 2px 10px;
      border-style: solid;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.166);
   }
   #listaDeArticulos{
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   .imagenContenedor{
      text-align : center;
      padding: 10px 0px 0px 0px;
      height: 250px;
      overflow:hidden;
   } 
   .imgDeArticulos{
      width: 170px;
   }
   
   h3{
      padding-left: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      font-family: 'Noto Serif', serif;
      letter-spacing: 1.2pt;
      font-weight: bold;
      color: black;
   }
   .imgToControl{
      width: 80%;
   }
   /* #botonCerrarImg{
      cursor: pointer;
      position: absolute;
      right: 5%;
      top: 18%;
   } */
   #prev,#next{
      position: absolute;
      cursor:pointer;
      font-size: 50px;
      width: auto;
      padding: 10px;
      border-radius: 00.5rem;
      background-color: rgb(106, 106, 106);
   }
   #next{
      right: 5px;
   }
   #prev{
      left: 5px;
   }
   .agotado{
      font-family: 'Noto Sans JP', sans-serif;
      color: red;
   }
   .filtro{
      display: none;
   }
   .este{
      display: none;
   }
   #escondeImg{
      display: none;
   }
   .cuantasImg{
      position: absolute;
      bottom: 11%;
      left: 40%;
      font-size: 20px;
      color: rgba(255, 127, 80, 0.897);
      font-weight: bold;
   }
   #footer{
      display: grid;
      width: 100%;
      position: relative;
      padding-top: 20px;
      bottom: 0%;
      justify-content: center;
   }
   #derechos{
      font-size: 1rem;
      font-family: 'Rubik Marker Hatch', cursive;
      padding: 30px;
      width: auto;
      border-start-start-radius: 20px;
      background-color: rgba(255, 127, 80, 0.814);
   }
   #losentimos{
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      border-radius: 30%;
      margin-top: 50%;
      margin-bottom: 50%;
      overflow: hidden;
      height: auto;
      background-color: white;
      display: none;
   }
   #imgLosentimos{
      width: 200px;
   }
   #txtLosentimos{
      color:rgba(255, 127, 80, 0.714);
   }
}

/**/
/*Versión escritorio*/
@media (min-width: 400px){
   .filtro{
      display: none;
   }
   .articulo{
      position: relative;
      top: 5px;
      border-radius: 0.5rem;
      padding: 5%;
      margin: 2% 2% 5%;
      border-style: solid;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.166);
   }
   #listaDeArticulos{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   .imagenContenedor{
      text-align : center;
      padding: 10px 0px 0px 0px;
      height: 350px;
      overflow:hidden;
   }
   .imgDeArticulos{
      width: 100%;
   }
   h3{
      padding-left: 10%;
      padding-bottom: 2%;
      font-family: 'Noto Serif', serif;
      letter-spacing: 1.2pt;
      font-weight: bold;
      color: black;
   }
   .imgToControl{
      width: 280px;
      
   }
   #prev,#next{
      position: absolute;
      cursor:pointer;
      font-size: 80px;
      width: auto;
      padding: 10px;
      border-radius: 00.5rem;
      background-color: rgb(106, 106, 106);
   }
   #next{
      right: 5%;
   }
   #prev{
      left: 5%;
   }
   .agotado{
      font-family: 'Noto Sans JP', sans-serif;
      color: red;
   }
   .este{
      display: none;
   }
   #escondeImg{
      display: none;
   }
   .cuantasImg{
      position: absolute;
      bottom: 15%;
      left: 45%;
      font-size: 20px;
      color: rgba(255, 127, 80, 0.897);
      font-weight: bold;
   }
   #footer{
      display: grid;
      width: 100%;
      position: relative;
      margin-top: 20px;
      bottom: 0%;
      background-color: rgba(255, 127, 80, 0.814);
      justify-content: center;
   }
   #derechos{
      font-size: 1rem;
      font-family: 'Rubik Marker Hatch', cursive;
      padding: 30px;
      width: 100%;
      border-start-start-radius: 20px;
      
      
   }
   #losentimos{
      font-size: 1.5rem;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      border-radius: 30%;
      margin-top: 10%;
      margin-bottom: 10%;
      overflow: hidden;
      height: auto;
      background-color: white;
      display: none;
   }
   #imgLosentimos{
      width: 500px;
   }
   #txtLosentimos{
      color:rgba(255, 127, 80, 0.714);
   }
   #botonCerrarImg{
      right: 30%;
      top: 18%;
   }
}
@media(max-width: 1300px) and (min-width: 800px){
   .imgToControl{
      width: 250px;  
   }
}
/*Version de responsive desktop*/ 
@media(max-width: 800px) and (min-width: 400px){
   #listaDeArticulos{
      display: grid;
      
      grid-template-columns: 1fr 1fr 1fr ;
   }
   .imagenContenedor{
      text-align : center;
      padding: 10px 0px 0px 0px;
      height: 200px;
      overflow:hidden;
   }
   #prev,#next{
      font-size: 50px;
   }
   .cuantasImg{
      bottom: 18%;
      font-size: 15px; 
   }
   .filtro{
      display: none;
   }
   #losentimos{
      border-radius: 30%;
      margin-top: 50%;
      margin-bottom: 50%;
      
   }
   #imgLosentimos{
      width: 200px;
   }
   .imgToControl{
      width: 200px;  
   }
   #botonCerrarImg{
      right: 20%;
      
   }
}